body {
  background: rgb(1, 1, 97)
}

.barra-nav {
  background-color: rgba(15, 23, 42, 0.493);
}

.panel-principal {
  padding: 3rem;
  background: rgb(5, 5, 136);
}

.panel-principal p {
  color: white;
}

.promoid {
  color: white;
}

.btn-whatsapp-flotante {
  position: fixed;
  bottom: 25px;
  right: 25px;
  width: 60px;
  height: 60px;
  background-color: #000000;
  color: #03d303;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
  z-index: 1000;
  transition: transform 0.3s ease, background-color 0.3s ease;
  text-decoration: none;
}

.btn-whatsapp-flotante:hover {
  background-color: #1b1b1b;
  color: #045c46;
  transform: scale(1.1);
}
