
body {
  background: rgb(1, 1, 97)

}

.barra-nav {
  background-color: rgba(15, 23, 42, 0.493);
}

.panel-principal {
  padding: 3rem;
  background: rgb(5, 5, 136);
}
.panel-principal p {
  color: white;
}
